/clases/ConceptosBasicos/nbproject/private/
/clases/ConceptosBasicos/build/
diagramaBD.img
/tareas/TareaLibro/nbproject/private/
/tareas/TareaLibro/build/
/tareas/TareaDLibro/nbproject/private/
/tareas/TareaDLibro/build/
/clases/ReutilizacionDeCodigo/nbproject/private/
/clases/ReutilizacionCodigo2209/nbproject/private/
/clases/ReutilizacionCodigo2209/build/
/clases/ReutilizacionCodigo2209/dist/
